.hide {
  visibility: hidden;
}

#pin {
  width:20px; 
  height:50px;
}

#pinContainer {
  position: absolute; margin: 125px 165px; display: block; z-index: 2;
}

#mapContainer {
  display: block; float: right; position: absolute;
}